.accordion-heading
  a.accordion-toggle class="#{'collapsed' if collapsed}" data-toggle="collapse" data-parent="#faq" href="#faqpost_#{number}"
    .contents_selected_menu_title_generalsettings
      = heading
