= select :class_map_property_setting, :value,
        column_select_choices(@class_map),
        {},
        { name: @class_map_property_setting.form_name, id: 'subject-uri-column', class: 'form-control' }
