title = "#{@table.representative_name}: {{#{@table.pk_column_name}_value}}"
link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"
