/link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"
link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"
