| Uploaded zip file: 
= @supplementary_file.original_filename
= link_to 'Delete file', supplementary_file_path(@supplementary_file), method: :delete, data: { confirm: 'Are you sure you want to delete the file?' }
#jqtree style="background-color: #ffffe0;"
