= content_for :header do
  title TogoDB - Configuration

  link href="/fine-uploader/fine-uploader-new.css" rel="stylesheet" type="text/css"

  link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
  = stylesheet_link_tag "style"
  = stylesheet_link_tag "font-awesome"
  /= stylesheet_link_tag "bootstrap"
  = stylesheet_link_tag "jqtree"
  = stylesheet_link_tag "supplementary_files"
  css:
    .jqtree-tree { margin-top: 0px; }

  script src="/fine-uploader/fine-uploader.min.js" type="text/javascript"
  /= javascript_include_tag "bootstrap"
  = javascript_include_tag "tree.jquery"
  = javascript_include_tag "upload_files"
  - if @tree_json_data
    javascript:
      $(function () {
          const $tree = $('#jqtree');
          $tree.tree({
          onCreateLi: function (node, $li) {
            if (node.url) {
              $li.find('.jqtree-element').append(
                '<span class="togodb_supfile_link">[<a href="' + node.url + '" target="_blank" data-node-id="' + node.id + '">Link</a>]</span>'
              );
            }
          },
          autoOpen: true,
          useContextMenu: false,
          data: #{{@tree_json_data}}
        });

        $tree.on('tree.click', function (event) {
          event.preventDefault();
        });

        $tree.on('click', '.togodb_supfile_link', function (e) {
            const node_id = $(e.target).data('node-id');
            const node = $tree.tree('getNodeById', node_id);
            if (node) {
            // Display the node name
            //alert(node.name);
          }
        });
      });

  = render 'fineuploader'

.contents_title_selectdb_box
  = render partial: 'table_selector'
  = render partial: 'config_menu', locals: { selected: :upload_files }

#togodb_page_contents
  .contents_selected_menu_title Upload a zip file
  - if flash[:err]
    = render partial: 'application/alert_message', locals: { message: flash[:err] }
  div style="margin-top:30px;"
    /= form_with model: @supplementary_file, multipart: true, local: true do
    = form_with model: @supplementary_file, id: 'qq-form' do
      div#fine-uploader
      /.drag_area
        = file_field_tag 'supplementary_file'
      = hidden_field_tag 'table_id', @table.id
      = button_tag 'Upload a zip file', type: 'button', id: 'upload-button', class: 'togodb_btn_single upload'
      /= submit_tag 'Upload a zip file', class: "togodb_btn_single upload"
    - unless @supplementary_file.new_record?
      div style="margin-top:30px;"
        #supplementary-files style="margin-top:20px;"
          |  Uploaded zip file: 
          = @supplementary_file.original_filename
          = link_to 'Download zip file',
                  dl_togodb_supplementary_file_path(@supplementary_file),
                  class: 'download'
          = link_to 'Delete uploaded files',
                  togodb_supplementary_file_path(@supplementary_file),
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete the file?' },
                  class: 'delete'
        #jqtree

javascript:
  const uploader = new qq.FineUploader({
      debug: true,
      element: document.getElementById('fine-uploader'),
      autoUpload: false,
      multiple: false,
      disableCancelForFormUploads: true,
      validation: {
          allowedExtensions: ['zip']
      },
      callbacks: {
          onComplete: function (id, name, responseJSON, xhr) {
              if (xhr.status === 200) {
                  location.href = "#{upload_files_url(@table.name)}";
              }
          }
      }
  });

  qq(document.getElementById("upload-button")).attach('click', function () {
      uploader.uploadStoredFiles();
  });

script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
