// Place all the styles related to the triples_maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#setting-subject {
  margin-left: 15px;
  margin-top: 10px;
}

.subject-group .radio {
  font-size: 16px;
}
.subject-group .radio label {
  margin-right: 10px;
}

.form-group .btn {
  position: relative;
}

.configure-mapping .form-group .btn .fa-plus::before {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.configure-mapping .form-group .btn .fa-trash-o::before {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
