// Place all the styles related to the datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#togodb-dataset-delete-submit {
    margin-left: 10px;
}

.dialog-buttons {
    margin-top: 10px;
    text-align: center;
}

div.workarea {
    padding: 10px;
    float: left;
}

ul.draglist {
    position: relative;
    background: #f7f7f7;
    border: 1px solid gray;
    list-style: none;
    margin: 0px;
    padding: 0px;
    min-height: 20px;

    li {
	margin: 1px;
	cursor: move;
	zoom: 1;
    }
    li.list1 {
	background-color: #D1E6EC;
	border: 1px solid #7EA6B2;
	padding: 3px;
    }
    li.list2 {
	background-color: #D8D4E2;
	border: 1px solid #6B4C86;
	padding: 3px;
    }
}
