#togodb-page-contents {
    margin: 10px;

    div.contents-title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5px;
    }

    div.contents-subtitle {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 15px;
    }
}
